form {
  max-width: 500px;
  margin: auto;
  background: rgb(255, 92, 114);
  background: linear-gradient(
    18deg,
    rgba(255, 92, 114, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 92, 114, 1) 100%
  );
  padding: 50px;
  border: 15px rgb(255, 191, 191) outset;
  border-radius: 20px;
}
form > label,
form > input,
form > button {
  width: 100%;
  min-height: 50px;
}
form > input {
  border: 2px white outset;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2em;
}
form > textarea {
  width: 100%;
}
